<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello World !!</h1>
<h2 th:text="'今天營業收入：'+${total}"></h2><br/>
<tr th:each="orderList:${orderList}">
  <td th:text="'單號：'+${orderList.seq}"></td>
  <td th:text="'價錢：'+${orderList.totalPrice}"></td><br/>
</tr>
</body>
</html>